<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Syllacal</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'syllabus_reader/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'syllabus_reader/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'syllabus_reader/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'syllabus_reader/css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Syllacal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Your exam dates found for you</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Syllacal gives you the blueprints for academic success by integrating you syllabus into your calendar in no time! All of your deadlines and dates imported straight into your calendar in no time!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Step 1: Upload a syllabus!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Accepts PDF files.</p>

            <!-- Input file button -->
            <div class="container">
              <div class="col-md-8 col-md-offset-2">
              <form method="POST" action="#" enctype="multipart/form-data">
              	<!-- COMPONENT START -->
              	<div class="form-group">
              		<div class="input-group input-file" name="Fichier1">
              			<span class="input-group-btn">
                      		<button class="btn btn-default btn-choose" type="button">Choose</button>
                  		</span>
                  		<input type="text" class="form-control" placeholder='Choose a file...' />
                  		<span class="input-group-btn">
                     			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
                  		</span>
              		</div>
              	</div>
              	<!-- COMPONENT END -->
              	<div class="form-group">
              		<button type="submit" class="btn btn-primary pull-right">Submit</button>
              		<button type="reset" class="btn btn-danger">Reset</button>
              	</div>
              </form>

              </div>
              </div>

              <!-- End input file button -->

          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Step 2: Get your iCal file!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://www.smbc-comics.com/comics/1538358391-20181001.png" download>Download Now!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Questions or feedback?</h2>
            <hr class="my-4">
            <!-- <p class="mb-5"></p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'syllabus_reader/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'syllabus_reader/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'syllabus_reader/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'syllabus_reader/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'syllabus_reader/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'syllabus_reader/js/creative.min.js' %}"></script>
    <script src = "{% static 'syllabus_reader/js/input_file.js' %}"></script>

  </body>

</html>